body {
    background-color: aqua;
    padding: 0px;
    margin: 0px;
}
h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}

/* Helper Classes start here*/
.container {
   padding: 0px 100px;
}
.row {
    display: flex;
}
.col {
    display: inherit;
    flex: 1;
}
@media(max-width: 992px) {
    .container {
        padding: 0px 20px;
     }
    .row {
        flex-direction: column;
    }
}
.btn {
    padding: 8px 12px;
    border-radius: 25px;
    border: 1px solid;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus {
    outline: none;
}

.btn-primary {
    background-color: transparent;
}
.btn-primary:hover {
    background-color: pink;
    color: red;
    border-color: pink;
}
.btn-primary:focus {
    background-color: blue;
    color: #fff;
    border-color: blue;
}

.btn-secondary {
    background-color: pink;
    color: red;
    border-color: pink;
}
.btn-secondary:hover {
    background-color: transparent;
    border-color: #333;
}
.btn-secondary:focus {
    background-color: blue;
    border-color: blue;
    color: #fff;
}
.sec-pv {
    padding: 100px 0px;
}
/* Helper Classes end here*/

/* Slider section start here */
#section-slider {
    height: 100vh;
    background-image: url(./assets/img/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}
#section-slider .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
#section-slider .container {
    display: flex;
    height: 100%;
}
#section-slider .container .row {
    display: inherit;
    height: 100%;
    align-items: center;
    justify-content: center;
}
#section-slider .container .row .content-box {
    width: 40%;
    text-align: center;
}
#section-slider .container .row .content-box h1 {
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 1px;
    margin: 20px 0px;
    color: #fff;
}
#section-slider .container .row .content-box h2 {
    color: #fff;
    text-transform: capitalize;
    font-size: 42px;
    letter-spacing: 3px;
    margin: 0px;
    
}
#section-slider .container .row .content-box p {
    letter-spacing: 1px;
    padding: 20px 10px;
    color: #fff;
}
/* Slider section end here */
/* About me start here  */
#about-me .about-content .social-icons ul{
    padding: 0px;
    list-style-type: none;
    display: flex;
}
#about-me .about-content .social-icons ul li {
    background-color: red;
    width: 50px;
    height: 50px;
    /* border-radius: 10px 20px 10px 50px; */
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    border: 2px solid red;
    margin-right: 15px;
}
#about-me .about-content .social-icons ul li a {
    color: #fff;
}
#about-me .about-content .social-icons ul li:hover {
    background-color: yellow;
    border-color: yellow;
    color: red;
}
#about-me .about-content .social-icons ul li a:hover {
    color: red;
}
.about-img {
    overflow: hidden;
}
/* About me end here  */

/* services-sec */
#services-sec {
    background-color: #ddd
}
#services-sec .title-content {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
#services-sec .box-outer {
    border-radius: 8px;
    border: 2px solid red;
    margin: 15px;
}
@media(max-width: 992px) {
    #services-sec .box-outer { 
        margin: 15px auto;
    }
}
#services-sec .box-content {
    padding: 30px;
    text-align: center;
}
#services-sec .box-content h3 {
    padding: 10px 0px;
    letter-spacing: 1px;
    text-transform: capitalize;
}
#services-sec .line {
    width: 10%;
    border-width: 3px;
    border-color: red;
}

/*freelancer section start here  */
#freelancer .freelancer-content{
    margin: auto;
    text-align: center;   
}
#freelancer .freelancer-content button { 
    margin: 20px 0px;
    border-radius: 0px;
}
/*freelancer section end here  */

/* Image box start here*/
#img-box .box{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    position: relative;
}
#img-box .box:before,
#img-box .box:after{
    content: "";
    background: #34495e;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100%;
    transition: all 0.35s 0s ease-out;
}
#img-box .box:hover:before{ bottom: 0; }
#img-box .box:after{
    opacity: 0.8;
    bottom: 0;
    top: 100%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transition: all 0.35s 0.2s ease-in;
}
#img-box .box:hover:after{ top: 25%; }
#img-box .box img{
    width: 100%;
    height: auto;
}
#img-box .box .box-content{
    color: #fff;
    text-align: center;
    width: 80%;
    opacity: 0;
    transform: translateX(-50%) translateY(-55%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transition: all 0.35s 0.5s ease;
}
#img-box .box:hover .box-content{
    opacity: 1;
    transform: translateX(-50%) translateY(-40%);
}
#img-box .box .title{
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0;
}
#img-box .box .title:after{
    content: '';
    height: 1px;
    width: 100px;
    margin: 5px auto 3px;
    border-bottom: 1px dashed #fff;
    display: block;
    clear: both;
}
#img-box .box .post{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 1px;
}
#img-box .box .icon{
    padding: 0;
    margin: 0;
    list-style: none;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    bottom: 10px;
    z-index: 2;
}
#img-box .box .icon li{
    margin: 0 3px;
    display: inline-block;
    opacity: 0;
    transition: all 0.4s ease 0.5s;
}
#img-box .box .icon li:nth-child(2){ transition-delay: 0.7s; }
#img-box .box:hover .icon li{ opacity: 1; }
#img-box .box .icon li a{
    color: #333;
    background-color: #fff;
    font-size: 13px;
    text-align: center;
    line-height: 31px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: block;
    transition: all 0.3s ease 0s;
}
#img-box .box .icon li a:hover{ box-shadow: 3px 3px rgba(255,255,255,0.5); }
@media only screen and (max-width:990px){
    #img-box .box{ margin: 0 0 30px; }
}
/* Image box end here */
/* Side box */
.side-box {
    background-color: red;
    position: fixed;
    width: 100px;
    height: 100px;
    top: 20%;
    right: 0%;
}
@media(max-width: 768px) {
    .side-box {
        display: none;
    }
    #section-slider .container .row .content-box {
        width: 90%;
    }
}

#main-slider {
    background: radial-gradient(circle, #24246e, #06051f);
  overflow: hidden;
  position: relative;
  /* width: 100vw; */
  height: 100vh;
}

#main-slider:active div,
#main-slider:active div::before,
#main-slider:active div::after {
  padding: 40px;
}

#main-slider div,
#main-slider div::before,
#main-slider div::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9;
  transform-origin: top;
  transition: all 5s linear 0s;
}

#main-slider .purple {
  -webkit-animation: purple linear 30s alternate infinite;
          animation: purple linear 30s alternate infinite;
  border: 2px solid #241379;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  transform: translate3d(89vw, 55vh, 0);
  z-index: 7;
}

#main-slider .purple::before {
  -webkit-animation: purple-pseudo linear 15s alternate infinite;
          animation: purple-pseudo linear 15s alternate infinite;
  background: #241379;
  border: 2px solid #241379;
  width: 41px;
  height: 22px;
  transform: translate3d(-84vw, 22vh, 0) rotate(39deg);
}

#main-slider .purple::after {
  -webkit-animation: purple-pseudo linear 20s alternate infinite;
          animation: purple-pseudo linear 20s alternate infinite;
  border: 2px solid #241379;
  width: 38px;
  height: 5px;
  transform: translate3d(-75vw, -19vh, 0) rotate(237deg);
}

@-webkit-keyframes purple {
  50% {
    transform: translate3d(56vw, 20vh, 0);
  }
  100% {
    transform: translate3d(12vw, 73vh, 0);
  }
}

@keyframes purple {
  50% {
    transform: translate3d(56vw, 20vh, 0);
  }
  100% {
    transform: translate3d(12vw, 73vh, 0);
  }
}
@-webkit-keyframes purple-pseudo {
  33% {
    transform: translate3d(-7vw, 10vh, 0) rotate(182deg);
  }
  100% {
    transform: translate3d(5vw, -51vh, 0) rotate(158deg);
  }
}
@keyframes purple-pseudo {
  33% {
    transform: translate3d(-7vw, 10vh, 0) rotate(182deg);
  }
  100% {
    transform: translate3d(5vw, -51vh, 0) rotate(158deg);
  }
}
#main-slider .medium-blue {
  -webkit-animation: medium-blue linear 30s alternate infinite;
          animation: medium-blue linear 30s alternate infinite;
  border: 2px solid #2185bf;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  transform: translate3d(89vw, 92vh, 0);
  z-index: 12;
}

#main-slider .medium-blue::before {
  -webkit-animation: medium-blue-pseudo linear 15s alternate infinite;
          animation: medium-blue-pseudo linear 15s alternate infinite;
  background: #2185bf;
  border: 2px solid #2185bf;
  width: 37px;
  height: 30px;
  transform: translate3d(-83vw, -19vh, 0) rotate(32deg);
}

#main-slider .medium-blue::after {
  -webkit-animation: medium-blue-pseudo linear 20s alternate infinite;
          animation: medium-blue-pseudo linear 20s alternate infinite;
  border: 2px solid #2185bf;
  width: 24px;
  height: 15px;
  transform: translate3d(-48vw, -49vh, 0) rotate(97deg);
}

@-webkit-keyframes medium-blue {
  50% {
    transform: translate3d(59vw, 74vh, 0);
  }
  100% {
    transform: translate3d(16vw, 5vh, 0);
  }
}

@keyframes medium-blue {
  50% {
    transform: translate3d(59vw, 74vh, 0);
  }
  100% {
    transform: translate3d(16vw, 5vh, 0);
  }
}
@-webkit-keyframes medium-blue-pseudo {
  33% {
    transform: translate3d(-7vw, -19vh, 0) rotate(322deg);
  }
  100% {
    transform: translate3d(23vw, 68vh, 0) rotate(109deg);
  }
}
@keyframes medium-blue-pseudo {
  33% {
    transform: translate3d(-7vw, -19vh, 0) rotate(322deg);
  }
  100% {
    transform: translate3d(23vw, 68vh, 0) rotate(109deg);
  }
}
#main-slider .light-blue {
  -webkit-animation: light-blue linear 30s alternate infinite;
          animation: light-blue linear 30s alternate infinite;
  border: 2px solid #1fbce1;
  border-radius: 100%;
  width: 6px;
  height: 6px;
  transform: translate3d(2vw, 93vh, 0);
  z-index: 10;
}

#main-slider .light-blue::before {
  -webkit-animation: light-blue-pseudo linear 15s alternate infinite;
          animation: light-blue-pseudo linear 15s alternate infinite;
  background: #1fbce1;
  border: 2px solid #1fbce1;
  width: 35px;
  height: 41px;
  transform: translate3d(68vw, -71vh, 0) rotate(142deg);
}

#main-slider .light-blue::after {
  -webkit-animation: light-blue-pseudo linear 20s alternate infinite;
          animation: light-blue-pseudo linear 20s alternate infinite;
  border: 2px solid #1fbce1;
  width: 26px;
  height: 15px;
  transform: translate3d(48vw, -19vh, 0) rotate(341deg);
}

@-webkit-keyframes light-blue {
  50% {
    transform: translate3d(63vw, 71vh, 0);
  }
  100% {
    transform: translate3d(71vw, 45vh, 0);
  }
}

@keyframes light-blue {
  50% {
    transform: translate3d(63vw, 71vh, 0);
  }
  100% {
    transform: translate3d(71vw, 45vh, 0);
  }
}
@-webkit-keyframes light-blue-pseudo {
  33% {
    transform: translate3d(1vw, 4vh, 0) rotate(347deg);
  }
  100% {
    transform: translate3d(-28vw, 38vh, 0) rotate(13deg);
  }
}
@keyframes light-blue-pseudo {
  33% {
    transform: translate3d(1vw, 4vh, 0) rotate(347deg);
  }
  100% {
    transform: translate3d(-28vw, 38vh, 0) rotate(13deg);
  }
}
#main-slider .red {
  -webkit-animation: red linear 30s alternate infinite;
          animation: red linear 30s alternate infinite;
  border: 2px solid #b62f56;
  border-radius: 100%;
  width: 43px;
  height: 43px;
  transform: translate3d(87vw, 54vh, 0);
  z-index: 6;
}

#main-slider .red::before {
  -webkit-animation: red-pseudo linear 15s alternate infinite;
          animation: red-pseudo linear 15s alternate infinite;
  background: #b62f56;
  border: 2px solid #b62f56;
  width: 11px;
  height: 45px;
  transform: translate3d(-2vw, 27vh, 0) rotate(164deg);
}

#main-slider .red::after {
  -webkit-animation: red-pseudo linear 20s alternate infinite;
          animation: red-pseudo linear 20s alternate infinite;
  border: 2px solid #b62f56;
  width: 35px;
  height: 20px;
  transform: translate3d(10vw, 41vh, 0) rotate(228deg);
}

@-webkit-keyframes red {
  50% {
    transform: translate3d(10vw, 76vh, 0);
  }
  100% {
    transform: translate3d(83vw, 72vh, 0);
  }
}

@keyframes red {
  50% {
    transform: translate3d(10vw, 76vh, 0);
  }
  100% {
    transform: translate3d(83vw, 72vh, 0);
  }
}
@-webkit-keyframes red-pseudo {
  33% {
    transform: translate3d(-10vw, -13vh, 0) rotate(216deg);
  }
  100% {
    transform: translate3d(13vw, -39vh, 0) rotate(225deg);
  }
}
@keyframes red-pseudo {
  33% {
    transform: translate3d(-10vw, -13vh, 0) rotate(216deg);
  }
  100% {
    transform: translate3d(13vw, -39vh, 0) rotate(225deg);
  }
}
#main-slider .orange {
  -webkit-animation: orange linear 30s alternate infinite;
          animation: orange linear 30s alternate infinite;
  border: 2px solid #d5764c;
  border-radius: 100%;
  width: 7px;
  height: 7px;
  transform: translate3d(43vw, 15vh, 0);
  z-index: 4;
}

#main-slider .orange::before {
  -webkit-animation: orange-pseudo linear 15s alternate infinite;
          animation: orange-pseudo linear 15s alternate infinite;
  background: #d5764c;
  border: 2px solid #d5764c;
  width: 49px;
  height: 22px;
  transform: translate3d(-42vw, 18vh, 0) rotate(49deg);
}

#main-slider .orange::after {
  -webkit-animation: orange-pseudo linear 20s alternate infinite;
          animation: orange-pseudo linear 20s alternate infinite;
  border: 2px solid #d5764c;
  width: 32px;
  height: 28px;
  transform: translate3d(-16vw, 78vh, 0) rotate(195deg);
}

@-webkit-keyframes orange {
  50% {
    transform: translate3d(58vw, 73vh, 0);
  }
  100% {
    transform: translate3d(97vw, 74vh, 0);
  }
}

@keyframes orange {
  50% {
    transform: translate3d(58vw, 73vh, 0);
  }
  100% {
    transform: translate3d(97vw, 74vh, 0);
  }
}
@-webkit-keyframes orange-pseudo {
  33% {
    transform: translate3d(35vw, -35vh, 0) rotate(319deg);
  }
  100% {
    transform: translate3d(-54vw, -35vh, 0) rotate(184deg);
  }
}
@keyframes orange-pseudo {
  33% {
    transform: translate3d(35vw, -35vh, 0) rotate(319deg);
  }
  100% {
    transform: translate3d(-54vw, -35vh, 0) rotate(184deg);
  }
}
#main-slider .yellow {
  -webkit-animation: yellow linear 30s alternate infinite;
          animation: yellow linear 30s alternate infinite;
  border: 2px solid #ffd53e;
  border-radius: 100%;
  width: 47px;
  height: 47px;
  transform: translate3d(24vw, 100vh, 0);
  z-index: 11;
}

#main-slider .yellow::before {
  -webkit-animation: yellow-pseudo linear 15s alternate infinite;
          animation: yellow-pseudo linear 15s alternate infinite;
  background: #ffd53e;
  border: 2px solid #ffd53e;
  width: 7px;
  height: 33px;
  transform: translate3d(12vw, -14vh, 0) rotate(245deg);
}

#main-slider .yellow::after {
  -webkit-animation: yellow-pseudo linear 20s alternate infinite;
          animation: yellow-pseudo linear 20s alternate infinite;
  border: 2px solid #ffd53e;
  width: 32px;
  height: 31px;
  transform: translate3d(-13vw, -54vh, 0) rotate(276deg);
}

@-webkit-keyframes yellow {
  50% {
    transform: translate3d(90vw, 58vh, 0);
  }
  100% {
    transform: translate3d(100vw, 15vh, 0);
  }
}

@keyframes yellow {
  50% {
    transform: translate3d(90vw, 58vh, 0);
  }
  100% {
    transform: translate3d(100vw, 15vh, 0);
  }
}
@-webkit-keyframes yellow-pseudo {
  33% {
    transform: translate3d(-28vw, 38vh, 0) rotate(59deg);
  }
  100% {
    transform: translate3d(-12vw, 40vh, 0) rotate(82deg);
  }
}
@keyframes yellow-pseudo {
  33% {
    transform: translate3d(-28vw, 38vh, 0) rotate(59deg);
  }
  100% {
    transform: translate3d(-12vw, 40vh, 0) rotate(82deg);
  }
}
#main-slider .cyan {
  -webkit-animation: cyan linear 30s alternate infinite;
          animation: cyan linear 30s alternate infinite;
  border: 2px solid #78ffba;
  border-radius: 100%;
  width: 17px;
  height: 17px;
  transform: translate3d(66vw, 91vh, 0);
  z-index: 3;
}

#main-slider .cyan::before {
  -webkit-animation: cyan-pseudo linear 15s alternate infinite;
          animation: cyan-pseudo linear 15s alternate infinite;
  background: #78ffba;
  border: 2px solid #78ffba;
  width: 26px;
  height: 35px;
  transform: translate3d(22vw, -25vh, 0) rotate(119deg);
}

#main-slider .cyan::after {
  -webkit-animation: cyan-pseudo linear 20s alternate infinite;
          animation: cyan-pseudo linear 20s alternate infinite;
  border: 2px solid #78ffba;
  width: 7px;
  height: 33px;
  transform: translate3d(-10vw, -6vh, 0) rotate(321deg);
}

@-webkit-keyframes cyan {
  50% {
    transform: translate3d(27vw, 83vh, 0);
  }
  100% {
    transform: translate3d(72vw, 9vh, 0);
  }
}

@keyframes cyan {
  50% {
    transform: translate3d(27vw, 83vh, 0);
  }
  100% {
    transform: translate3d(72vw, 9vh, 0);
  }
}
@-webkit-keyframes cyan-pseudo {
  33% {
    transform: translate3d(72vw, -80vh, 0) rotate(343deg);
  }
  100% {
    transform: translate3d(-31vw, 81vh, 0) rotate(358deg);
  }
}
@keyframes cyan-pseudo {
  33% {
    transform: translate3d(72vw, -80vh, 0) rotate(343deg);
  }
  100% {
    transform: translate3d(-31vw, 81vh, 0) rotate(358deg);
  }
}
#main-slider .light-green {
  -webkit-animation: light-green linear 30s alternate infinite;
          animation: light-green linear 30s alternate infinite;
  border: 2px solid #98fd85;
  border-radius: 100%;
  width: 21px;
  height: 21px;
  transform: translate3d(57vw, 69vh, 0);
  z-index: 4;
}

#main-slider .light-green::before {
  -webkit-animation: light-green-pseudo linear 15s alternate infinite;
          animation: light-green-pseudo linear 15s alternate infinite;
  background: #98fd85;
  border: 2px solid #98fd85;
  width: 31px;
  height: 45px;
  transform: translate3d(39vw, -64vh, 0) rotate(64deg);
}

#main-slider .light-green::after {
  -webkit-animation: light-green-pseudo linear 20s alternate infinite;
          animation: light-green-pseudo linear 20s alternate infinite;
  border: 2px solid #98fd85;
  width: 34px;
  height: 6px;
  transform: translate3d(-36vw, -3vh, 0) rotate(75deg);
}

@-webkit-keyframes light-green {
  50% {
    transform: translate3d(8vw, 71vh, 0);
  }
  100% {
    transform: translate3d(60vw, 14vh, 0);
  }
}

@keyframes light-green {
  50% {
    transform: translate3d(8vw, 71vh, 0);
  }
  100% {
    transform: translate3d(60vw, 14vh, 0);
  }
}
@-webkit-keyframes light-green-pseudo {
  33% {
    transform: translate3d(79vw, -5vh, 0) rotate(147deg);
  }
  100% {
    transform: translate3d(14vw, 75vh, 0) rotate(132deg);
  }
}
@keyframes light-green-pseudo {
  33% {
    transform: translate3d(79vw, -5vh, 0) rotate(147deg);
  }
  100% {
    transform: translate3d(14vw, 75vh, 0) rotate(132deg);
  }
}
#main-slider .lime {
  -webkit-animation: lime linear 30s alternate infinite;
          animation: lime linear 30s alternate infinite;
  border: 2px solid #befb46;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  transform: translate3d(13vw, 5vh, 0);
  z-index: 12;
}

#main-slider .lime::before {
  -webkit-animation: lime-pseudo linear 15s alternate infinite;
          animation: lime-pseudo linear 15s alternate infinite;
  background: #befb46;
  border: 2px solid #befb46;
  width: 6px;
  height: 37px;
  transform: translate3d(33vw, 70vh, 0) rotate(88deg);
}

#main-slider .lime::after {
  -webkit-animation: lime-pseudo linear 20s alternate infinite;
          animation: lime-pseudo linear 20s alternate infinite;
  border: 2px solid #befb46;
  width: 37px;
  height: 25px;
  transform: translate3d(3vw, 23vh, 0) rotate(142deg);
}

@-webkit-keyframes lime {
  50% {
    transform: translate3d(79vw, 12vh, 0);
  }
  100% {
    transform: translate3d(82vw, 49vh, 0);
  }
}

@keyframes lime {
  50% {
    transform: translate3d(79vw, 12vh, 0);
  }
  100% {
    transform: translate3d(82vw, 49vh, 0);
  }
}
@-webkit-keyframes lime-pseudo {
  33% {
    transform: translate3d(-52vw, 35vh, 0) rotate(21deg);
  }
  100% {
    transform: translate3d(-29vw, -30vh, 0) rotate(249deg);
  }
}
@keyframes lime-pseudo {
  33% {
    transform: translate3d(-52vw, 35vh, 0) rotate(21deg);
  }
  100% {
    transform: translate3d(-29vw, -30vh, 0) rotate(249deg);
  }
}
#main-slider .magenta {
  -webkit-animation: magenta linear 30s alternate infinite;
          animation: magenta linear 30s alternate infinite;
  border: 2px solid #6c046c;
  border-radius: 100%;
  width: 9px;
  height: 9px;
  transform: translate3d(16vw, 54vh, 0);
  z-index: 3;
}

#main-slider .magenta::before {
  -webkit-animation: magenta-pseudo linear 15s alternate infinite;
          animation: magenta-pseudo linear 15s alternate infinite;
  background: #6c046c;
  border: 2px solid #6c046c;
  width: 7px;
  height: 17px;
  transform: translate3d(27vw, 38vh, 0) rotate(19deg);
}

#main-slider .magenta::after {
  -webkit-animation: magenta-pseudo linear 20s alternate infinite;
          animation: magenta-pseudo linear 20s alternate infinite;
  border: 2px solid #6c046c;
  width: 12px;
  height: 6px;
  transform: translate3d(20vw, -8vh, 0) rotate(169deg);
}

@-webkit-keyframes magenta {
  50% {
    transform: translate3d(24vw, 21vh, 0);
  }
  100% {
    transform: translate3d(66vw, 66vh, 0);
  }
}

@keyframes magenta {
  50% {
    transform: translate3d(24vw, 21vh, 0);
  }
  100% {
    transform: translate3d(66vw, 66vh, 0);
  }
}
@-webkit-keyframes magenta-pseudo {
  33% {
    transform: translate3d(9vw, 32vh, 0) rotate(122deg);
  }
  100% {
    transform: translate3d(8vw, 4vh, 0) rotate(270deg);
  }
}
@keyframes magenta-pseudo {
  33% {
    transform: translate3d(9vw, 32vh, 0) rotate(122deg);
  }
  100% {
    transform: translate3d(8vw, 4vh, 0) rotate(270deg);
  }
}
#main-slider .lightish-red {
  -webkit-animation: lightish-red linear 30s alternate infinite;
          animation: lightish-red linear 30s alternate infinite;
  border: 2px solid #f04c81;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  transform: translate3d(2vw, 74vh, 0);
  z-index: 12;
}

#main-slider .lightish-red::before {
  -webkit-animation: lightish-red-pseudo linear 15s alternate infinite;
          animation: lightish-red-pseudo linear 15s alternate infinite;
  background: #f04c81;
  border: 2px solid #f04c81;
  width: 30px;
  height: 26px;
  transform: translate3d(44vw, -53vh, 0) rotate(222deg);
}

#main-slider .lightish-red::after {
  -webkit-animation: lightish-red-pseudo linear 20s alternate infinite;
          animation: lightish-red-pseudo linear 20s alternate infinite;
  border: 2px solid #f04c81;
  width: 12px;
  height: 25px;
  transform: translate3d(12vw, -48vh, 0) rotate(201deg);
}

@-webkit-keyframes lightish-red {
  50% {
    transform: translate3d(22vw, 56vh, 0);
  }
  100% {
    transform: translate3d(54vw, 63vh, 0);
  }
}

@keyframes lightish-red {
  50% {
    transform: translate3d(22vw, 56vh, 0);
  }
  100% {
    transform: translate3d(54vw, 63vh, 0);
  }
}
@-webkit-keyframes lightish-red-pseudo {
  33% {
    transform: translate3d(50vw, -49vh, 0) rotate(110deg);
  }
  100% {
    transform: translate3d(-28vw, 26vh, 0) rotate(44deg);
  }
}
@keyframes lightish-red-pseudo {
  33% {
    transform: translate3d(50vw, -49vh, 0) rotate(110deg);
  }
  100% {
    transform: translate3d(-28vw, 26vh, 0) rotate(44deg);
  }
}
#main-slider .pink {
  -webkit-animation: pink linear 30s alternate infinite;
          animation: pink linear 30s alternate infinite;
  border: 2px solid #ff4293;
  border-radius: 100%;
  width: 29px;
  height: 29px;
  transform: translate3d(63vw, 27vh, 0);
  z-index: 10;
}

#main-slider .pink::before {
  -webkit-animation: pink-pseudo linear 15s alternate infinite;
          animation: pink-pseudo linear 15s alternate infinite;
  background: #ff4293;
  border: 2px solid #ff4293;
  width: 44px;
  height: 28px;
  transform: translate3d(-29vw, 68vh, 0) rotate(146deg);
}

#main-slider .pink::after {
  -webkit-animation: pink-pseudo linear 20s alternate infinite;
          animation: pink-pseudo linear 20s alternate infinite;
  border: 2px solid #ff4293;
  width: 32px;
  height: 9px;
  transform: translate3d(-45vw, 24vh, 0) rotate(71deg);
}

@-webkit-keyframes pink {
  50% {
    transform: translate3d(21vw, 99vh, 0);
  }
  100% {
    transform: translate3d(10vw, 95vh, 0);
  }
}

@keyframes pink {
  50% {
    transform: translate3d(21vw, 99vh, 0);
  }
  100% {
    transform: translate3d(10vw, 95vh, 0);
  }
}
@-webkit-keyframes pink-pseudo {
  33% {
    transform: translate3d(1vw, -8vh, 0) rotate(138deg);
  }
  100% {
    transform: translate3d(69vw, -54vh, 0) rotate(89deg);
  }
}
@keyframes pink-pseudo {
  33% {
    transform: translate3d(1vw, -8vh, 0) rotate(138deg);
  }
  100% {
    transform: translate3d(69vw, -54vh, 0) rotate(89deg);
  }
}

